@import "tailwindcss";

@theme {
    --color-cohabs-brown: #e3c8aa;
    --color-cohabs-dark-brown: #c9ad8b;
    --color-cohabs-muted-gray: #ededed;
    --color-cohabs-gray: #818080;
    --color-cohabs-sand: #faf3e8;
    --color-cohabs-muted-sand: #fffefa;
    --color-cohabs-dark-blue: #16182d;
}